{% extends 'master.html' %}


{% block contenido %}
<div class="container" style="text-align: justify;margin:15px;padding:15px;">
        <h3>Noelia López Durán & Alejandro Carrasco Núñez</h3>

<hr>
 	    <h3>Contenido </h3>
	    <p>Se desea construir una pagina web, que permita consultar datos climáticos en España.</p>
		
		<p>Almacenar la información siguiente:</p>

	<p>fecha, indicativo, nombre, provincia, altitud, tmed, prec, tmin, horatmin, tmax,horatmax, dir, velmedia, racha, horaracha, sol, presMax, horaPresMax, presMin, horaPresMin </p>
	<p>Extrayendo los datos de la página web: <a href="https://opendata.aemet.es/centrodedescargas/productosAEMET?">https://opendata.aemet.es/centrodedescargas/productosAEMET?</a></p>

	<p>Se pide un programa con un menú principal, que permita las siguientes opciones:</p>

	<ol type="a">
		<li>Listado de todos los datos climáticos</li>
		<li></li>
	</ol>
	

		    <hr>
</p>
{% endblock %}