{% extends 'master.html' %}


{% block contenido %}

<center><h3><strong>climatologia Diaria</strong></h3></center>

<div style="display:flex;justify-content:center;align-items:center;">
  <form method="post" action="" id="searchform" style="font-size:15px;display:flex;align-items:center;margin-right:5px;">
    {% csrf_token %}
    {{search_form.as_p}}
    <button style="margin-left:10px;">BUSCAR</button>
  </form>
  <form action="{% url 'climaDiario' %}">
    <input value="Borrar" type="submit" style="font-size: 14px;color:black;"></input>
  </form>
</div>

<div class="container justify" style="width: 90%;">
  <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Nombre, indicativo</th>
          <th>Fecha</th>
          <th>Temp media</th>
          <th>Precipitaciones</th>
          <th>tmin, Hora tmin</th>
          <th>tmax, hora tmax</th>
          <!-- fecha, indicativo, nombre, provincia, altitud, tmed, prec, tmin, horatmin, tmax,horatmax, dir, velmedia, racha, horaracha, presMax, horaPresMax, presMin, horaPresMin -->
        </tr>
      </thead>
      <tbody id="myTable">
        {% for medida, l in listadas %}
            <tr>
              <td>
                <a href="{% url 'detalle' l %}" style="color:black;"><p class="fw-normal mb-1">{{ medida.nombre }}, {{medida.indicativo}}</p></a>
            </td>
              <td>
                  <p class="fw-normal mb-1">{{ medida.fecha }}</p>
              </td>
              <td>
                <p class="fw-normal mb-1">{{ medida.tmed}}</p>
              </td>
              <td>
                <p class="fw-normal mb-1">{{ medida.prec }}</p>
              </td>
              <td>
                  <p class="fw-normal mb-1">{{ medida.tmin }}, {{ medida.horatmin }}</p>
              </td>
              <td>
                  <p class="fw-normal mb-1">{{ medida.tmax }}, {{ medida.horatmax }}</p>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}