{% extends 'master.html' %}


{% block contenido %}
<center><h3><strong>Estadísticas</strong></h3></center>


<div class="container justify" style="width: 90%;">
  <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Nombre, Mes</th>
          <th>Temperatura media</th>
          <th>Temperatura máxima</th>
          <th>Temperatura mínima</th>
          <th>Presión máxima</th>
          <th>Presión mínima</th>
          <th>Velocidad media</th>
          <th>Racha</th>

        </tr>
      </thead>
      <tbody id="myTable">
        {% for i,e in listadas %}
          <tr>
            
            <td>
                <p class="fw-normal mb-1">{{e.nombre}}, {{e.mes}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ i.tmed }}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ i.tmax }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ i.tmin }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ i.presMax }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ i.presmin }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ i.velmedia }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ i.racha }}</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}